<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" name="email" email required formControlName="email">
      <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Email must not be empty</mat-error>
      <mat-hint align="start">Please enter a valid email</mat-hint>
      <!-- <mat-error *ngIf="!loginForm.get('email').valid">E-mail is not invalid</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" name="password" required minlength="6" formControlName="password">
      <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Password cannot be empty</mat-error>
      <mat-hint>Must be 6 char long</mat-hint>
    </mat-form-field>
    <button *ngIf="!isLoading" type="submit" color="primary" mat-raised-button [disabled]="!loginForm.valid">Login</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>