<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item [routerLink]="[ '/signup'  ]" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-item-text">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item [routerLink]="[ '/login' ]" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-item-text">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item [routerLink]="[ '/training'  ]" (click)="onClose() ">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-item-text ">Training</span>
  </a>
  <button *ngIf="isAuth" mat-list-item mat-button (click)="onLogout()">
    <mat-icon>eject</mat-icon>
    <span class="nav-item-text ">Logout</span>
  </button>
</mat-nav-list>